

:root{
    --main-color: #01579b;
    --secondary-color:#03a9f4;
    --third-color:#2962ff;
}



.theme-box{
    border: 2px solid var(--main-color);
}
.theme-box h3{
    font-weight: bolder;
}
.theme-profile-image{
    border-radius: 50%;
    border: 3px solid var(--main-color);
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.theme-menu-item a{
    color: var(--secondary-color);
}
.theme-menu-item a:hover{
    color: var(--third-color);
}
.theme-font-color{
    color: var(--main-color);
}

.theme-bg-primary{
    background-color: var(--main-color);
}

.theme-bg-secondary{
    background-color: var(--secondary-color);
}